.album-header {
    display: flex;
    margin-bottom: 5rem;
    height: 33vw;
    padding-left: 5rem;
}

.album-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.album-name {
    font-size: 3rem;
    margin-top: 5rem;
    height: 15rem;
    display: flex;
    align-items: center;
}

.album-artists {
    font-size: 1.25rem;
}

.album-release-date {
    margin-top: 2rem;
}

.album-content-footer {
    display: flex;
    width: 100%;
    margin-top: auto;
    opacity: 33%;
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.album-songCount,
.album-released {
    width: 50%;
}

.album-released {
    text-align: right;
}

.album-image {
    height: 100%;
    box-shadow: 0 0 1rem 0.25rem #fff;
    margin-left: 2rem;
    right: 0;
    left: auto;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1.0) 25%, transparent 100%);
}

.song-list {
    display: flex;
    align-items: center;
    padding: 0 5rem 0 5rem;
    width: 100%;
    margin-bottom: 1.25rem;
}

.song {
    background-color: var(--dark);
    display: flex;
    padding: 1.25rem;
    border-radius: 10px;
    outline: none;
    opacity: 66%;
    width: 100%;
}

:hover.song {
    outline: 3px solid var(--gray-dark);
    opacity: 100%;
}

.song-title {
    margin-right: 1rem;
    width: 20rem;
}

.song-artists {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 75%;
}

.song-duration {
    margin-left: auto;
    margin-right: 1rem;
    text-align: right;
    width: 6rem;
}

.song-language {
    margin-right: 0;
    margin-left: 1rem;
    width: 6rem;
    opacity: 50%;
    text-align: center;
    text-transform: capitalize;
}

.song-lyrics {
    text-align: right;
    padding: 1.25rem;
    width: 4rem;
}

@media screen and (max-width: 768px) {
    .album-header {
        flex-direction: row;
        padding: 0 1rem 0rem 1rem;
        margin-bottom: 1rem;
    }

    .album-content {
        padding-top: 8rem;
        font-size: 0.5rem;
    }

    .album-name,
    .album-artists {
        font-size: 0.9rem;
        margin-bottom: 0;
    }

    .album-content-footer {
        font-size: 0.75rem;
        opacity: 25%;
    }

    .album-image {
        box-shadow: none;
        margin: 0;
        width: 100%;
        height: auto;
        position: absolute;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 25%, transparent 80%);
    }

    .song-list {
        padding: 0 1rem 0 1rem;
        font-size: 0.75rem;
        margin-bottom: 0.55rem;
    }

    .song {
        flex-direction: column;
        padding: 0.5rem;
        border-radius: 2px;
        width: 100%;
    }

    .song-title {
        margin-bottom: 0.25rem;
    }

    .album-release-date,
    .song-language,
    .song-lyrics,
    .song-duration {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .album-header {
        height: 40vh;
    }

    .album-name {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1200px) {
    .album-header {
        height: 60vh;
    }

    .album-name {
        font-size: 3rem;
    }
}